.stats-container {
  max-width: 36rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #fef9c3; /* yellow-100 */
  border: 3px solid black;
  border-radius: 0.5rem;
  box-shadow: 8px 8px 0px black;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.stats-title {
  font-size: 2.25rem;
  font-weight: 800;
  text-align: center;
  color: black;
}

.stats-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  font-family: monospace;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stats-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0.75rem;
  border: 2px solid black;
  border-radius: 0.25rem;
  box-shadow: 3px 3px 0px black;
}

.label {
  font-weight: bold;
}

.btn-back {
  margin-top: 20px;
  padding: 10px 20px;
  border: 3px solid black;
  box-shadow: 6px 6px 0px black;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.btn-back:hover {
  background-color: #f7e600;
  transform: translateY(-2px);
}

.btn-back:active {
  transform: translateY(2px);
}
